@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Responsive and Common Css */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

a {
    text-decoration: none;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    color: #49B9ED;
}

a:hover{
    text-decoration: none;
    color: #49B9ED;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 !important;
}

img {
    height: auto;
    max-width: 100%;
}

.divLoader {
    background-color: #49B9ED;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
  }

.text-white {
    color: #fff;
}

.section-padding {
    padding: 100px 0;
}

.btn-theme {
    text-align: center;
    font-size: 1.067rem;
    padding: 15px 30px;
    border-radius: 6rem;
    color: snow;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #49B9ED;
    width: max-content;
}

.btn-theme:hover {
    color: snow;
}

@media(max-width: 992px) {
    body {
        font-size: 80%;
    }

    .btn-theme {
        width: 100%;
        letter-spacing: 1px;
    }
}