.newsletter-editor-wrap {
    padding-top: 30px;
}

.toolbar-class, .editor-class {
    border: 1px solid #cbcbcb;
}

.editor-class {
    padding: 20px;
    height: 500px;
    overflow: auto;
}

.newsletter-btn {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

@media(max-width: 768px) {
    .newsletter-btn {
        margin-bottom: 2rem !important;
    }
}