.product-page-wrap p {
    line-height: 1.75;
    color: #727888;
    margin-top: 0.75rem;
}

.product-gallery {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-gallery-item {
    position: relative;
    cursor: pointer;
    padding: 15px;
    flex-basis: 33%;
}

.product-gallery-item::before {
    content: "";
    border: #fff solid;
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-width: 3px 0 0 3px;
    top: 8%;
    left: 7%;
    transition: all ease-in-out 0.6s;
}

.product-gallery-item:hover::before, .product-gallery-item:hover::after {
    width: 86%;
    height: 84%;
}

.product-gallery-item::after {
    content: "";
    position: absolute;
    bottom: 8%;
    right: 7%;
    height: 1rem;
    width: 1rem;
    border: #fff solid;
    border-width: 0 3px 3px 0;
    transition: all ease-in-out 0.6s;
}

/* Responsive Css */

@media(max-width: 560px) {
    .product-gallery-item {
        flex-basis: 100% !important;
    }
}

@media(max-width: 768px) {
    .product-gallery-item {
        flex-basis: 50%;
    }

    .product-page-section {
        padding: 1.5rem 0;
    }
}