@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

.site-footer {
    background: #151414;
    color: #fff;
}

.footer-container {
    padding: 0rem 15px !important;
    position: relative;
}

.footer-heading {
    font: 700 3em/1 "Oswald", sans-serif;
    text-transform: uppercase;
    padding: .5em 0 .325em;
    line-height: 1.9em;
    letter-spacing: 2px;
}

.footer-contact-info {
    border-bottom: 1px solid #373636;
}

.footer-contact-info h4 {
    margin-bottom: 0;
    line-height: 1.7;
}

.contact-address {
    font-size: 1rem;
    color: #c7c6c7;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
}

.contact-phone, .contact-phone a, .contact-mail a{
    font-size: 15px;
    color: #c7c6c7;
}

.contact-phone a:hover, .contact-mail a:hover {
    color: #49B9ED;
}

.address-btn {
    margin-top: .5rem;
}

.fa, .social-widget-icons li a i:hover, .links-widget-list li a:hover {
    color: #49B9ED;
}

.social-widget-title, .links-widget-title, .subscribe-widget-title {
    font-size: 1.125rem;
    margin-bottom: 1.475rem;
    padding-bottom: 0.75rem;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500 !important;
    font-family: 'Hind', sans-serif;
    position: relative;
    text-align: left;
}

.social-widget-title::after, .links-widget-title::after, .subscribe-widget-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #49B9ED;
    bottom: 0;
    left: 0;
}

.social-links-div h5 {
    font-size: 1rem;
    font-weight: 500 !important;
    color: #C7C6C7;
    line-height: 1.4;
}

.social-widget-icons li {
    padding: 0 12px;
    font-size: 1rem;
    display: inline-block;
    line-height: 1.5rem;
}

.social-widget-icons li:first-child {
    padding-left: 0px;
}

.social-widget-icons li a i {
    font-size: 24px;
    color: #c7c6c7;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

.links-widget-list li {
    position: relative;
    float: left;
    width: 50%;
}

.links-widget-list li a {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    color: #c7c6c7;
    margin-bottom: 0;
}

.subscribe-input-div {
    display: flex;
}

.subscribe-input {
    width: 100%;
    padding: 14px 28px;
    height: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
    border-radius: 0 !important;
}

.subscribe-input:focus {
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.subscribe-submit-btn {
    background: #49B9ED;
    color: #49B9ED;
    border-color: #49B9ED;
    border:none;
    width: 30%;
    /* opacity: 0; */
}

.subscribe-submit-btn::before {
    content: "\f2c6";
    font-family: FontAwesome;
    font-size: 1.9rem;
    line-height: 1.5;
    color: #fff;
    /* color: #49B9ED; */
    /* background: #fff; */
    border-radius: 50%;
}


.footer-copyright-wrap {
    background: #252525;
    padding: 1rem 0;
    color: #898989;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
}


@media(max-width:768px) {
    .footer-wrapper {
        padding: 2.5rem 0 !important;
    }

    .footer-contact-info h4 {
        font-size: 22px;
    }

    .footer-wrapper .contact-elem span {
        margin-bottom: 1.5rem;
    }

    .contact-elem {
        justify-content: start;
    }

    .address-div-icon {
        margin-right: 1.5rem;
    }
}

@media(max-width: 1200px) {
    .footer-wrapper{
        padding: .36875rem 0 1.5rem;
    }
}