.contact-title {
    font-size: 2.5rem;
    font-weight: 600 !important;
    text-align: center;
}

.contact-details{
    display: flex;
    flex-direction: column;
}

.contact-box {
    display: flex;
    padding: 15px 10px 15px 30px;
    border: 1px solid #e6e6e6;
    font-size: 18px;
    color: #002147;
    margin-bottom: 15px;
}

.contact-box i {
    color: #49B9ED;
    font-size: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
}

.contact-box a {
    color: #002147;
}

.contact-box a:hover {
    color: #49B9ED;
}

.contact-form textarea {
    overflow: auto;
    vertical-align: top;
    color: #666;
    border: 1px solid #ccc;
    height: 160px;
    width: 100%;
}

.contact-form-input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #666;
    border: 1px solid #bbb;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 0 1.65rem;
    /* flex-basis: 50%; */
}

.contact-form-input:focus, .contact-form-input:hover {
    border: 1px solid #888!important;
    outline: none;
    box-shadow: none !important;
}

.contact-submit-btn {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #49B9ED;
    color: #fff;
    padding: 0px 20px;
    text-align: center;
    border: none;
    font-size: 1.25rem;
}
