.services-wrap {
    line-height: 28px;
}

.service-img-div {
    position: relative;
    overflow: hidden;
}

.service-img-div img {
    margin-bottom: 30px;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all ease 0.5s;
}

.service-img-div img:hover {
    transform: scale(1.1);
}


.services-wrap h3 {
    color: #000;
    margin-bottom: 40px;
}

.service-content {
    color: #727888;
}

.service-content ul {
    margin: 0 0 1rem 1.25rem !important;
}

/* Responsive Css */

@media(max-width:700px) {
    .services-wrap h3 {
        font-size: 32px !important;
    }
}

@media(max-width:992px) {
    .services-wrap h3 {
        font-size: 36px;
    }
}

@media(max-width: 1200px) {
    .services-wrap h3 {
        font-size: 42px;
        line-height: 1.7;
    }
}