/* Hero Section */

.hero-section-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 756px;
}

.introVideo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0.2;
    background-color: #000;
    height: 100%;
    object-fit: cover;
    z-index: 3;
}

.contentDiv {
    z-index: 99;
}

.layer {
    width: 100%;
    text-align: center;
    z-index: 4;
}

.layer span {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
}

.mouse-effect {
    position: relative;
    left: 50%;
    padding: 1rem 1rem;
    border: 2px solid #fff;
    width: 30px;
    height: 60px;
    border-radius: 50px;
    margin-top: 1.5rem;
}

.mouse-effect::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 100%;
    margin-left: -3px;
    -webkit-animation: dotMotion 2s infinite ease;
    animation: dotMotion 2s infinite ease;
}

@keyframes dotMotion {
    0% {
        top: 10px;
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        top: 40px;
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
}

.mouse-effect:hover {
    cursor: pointer;
    opacity: .5;
}

/* Common Animation Css */

.sliding-animation .section-heading h2,
.sliding-animation .section-heading p {
	-webkit-transform: translateX(-1000px);
	        transform: translateX(-1000px);
	opacity: 0;
	-webkit-transition: opacity .55s ease-in-out,
				-webkit-transform .88s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: opacity .55s ease-in-out,
				-webkit-transform .55s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform .55s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .55s ease-in-out;
	transition: transform .55s cubic-bezier(0.16, 0.68, 0.43, 0.99),
				opacity .55s ease-in-out,
				-webkit-transform .55s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.sliding-animation .section-heading.active h2,
.sliding-animation .section-heading.active p {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
}

.sliding-animation .section-heading.active h2 {
	-webkit-transition-delay: .11;
	        transition-delay: .11s;
}

.sliding-animation .section-heading.active p {
	-webkit-transition-delay: .05s;
	        transition-delay: .05s;
}


/* Service Section  */
.home-services-section {
    background: rgb(109,2,28);
    background: linear-gradient(49deg, rgba(109,2,28,1) 0%, rgba(27,72,155,1) 74%);
    background-size: cover;
}

.btn-theme-div {
    margin-bottom: 5rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
}

.btn-theme {
    text-align: center;
    font-size: 1.067rem;
    padding: 15px 30px;
    border-radius: 6rem;
    color: snow;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #49B9ED;
    width: max-content;
}

.btn-theme:hover {
    color: snow;
}

/* About Section  */
.home-about-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 756px;
}

.home-about-wrap {
    background-color: #000;
}

.aboutVideo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
    opacity: 0.2;
}

.home-about-wrap .layer p, .home-product-wrap .layer p, .home-client-wrap .layer p {
    width: 70%;
    text-align: center;
    margin: auto;
    position: relative;
    margin-bottom: 2.5rem;
}

.home-about-wrap .layer .btn-theme-div {
    margin-top: 130px !important;
}

.video-btn {
    background-color: #49B9ED;
    height: 75px;
    width: 75px;
    position: absolute;
    left: 47%;
    border-radius: 50%;
}

.video-btn::before{
    content: '';
    background-color: #49B9ED;
    height: 75px;
    width: 75px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    animation: play-beat 1500ms ease-out infinite;
}

@keyframes play-beat {
    0% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }

.video-btn .fa {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 25%;
    left: 35%;
}

/* Product Section */

.home-product-section {
    height: 756px;
    background-image: url('../../img/product-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.product-swiper{
    width: 88%;
    position: relative;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgb(34 35 58 / 20%);
    padding: 25px;
    border-radius: 25px;
    height: 350px;
    transition: all .3s;
    margin-top: 30px;
    overflow: visible !important;
}

.product-swiper .swiper-slide {
    display: flex;
    align-items: center;
}

.product-slider-img {
    width: 300px;
    height: 300px;
    box-shadow: 4px 13px 30px 1px rgb(252 56 56 / 20%);
    flex-shrink: 0;
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}

.product-slider-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
}

.product-slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all .3s;
}

.product-slider-content {
    padding-right: 50px;
}

.product-slider-title {
    font-size: 28px;
    font-weight: 700;
    
    margin-bottom: 20px;
    text-transform: uppercase;
}

.product-slider-title a {
    text-transform: uppercase;
    color: #0d0925;
}

.product-slider-title a:hover {
    color: #49B9ED;
}

.product-slider-text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: left;
    font-size: 16px;
}

.product-slider-content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all .4s;
}

.product-swiper .swiper-slide-active .product-slider-img img {
    opacity: 1;
    transition-delay: .3s;
}

.product-swiper .swiper-slide-active .product-slider-content > * {
    opacity: 1;
    transform: none;
}

.product-swiper .swiper-pagination-bullets {
    position: absolute;
    /* right: 20px; */
    bottom: auto !important;
    top: 50%;
    left: 94% !important;
    width: auto !important;
    /* left: auto !important; */
    transform: translateY(-50%);
}

.product-swiper .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all .3s;
    margin: 8px 0px !important;
}

.product-swiper .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fd3838;
    height: 30px;
    box-shadow: 0px 0px 20px rgb(252 56 56 / 30%);
}

/* Client Section */

.home-client-section {
    height: 824px;
    background-image: url('../../img/client-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.client-carousel {
    width: 100%;
}

.client-carousel .swiper-container {
    padding-bottom: 50px;
    padding-top: 10px;
}

.client-carousel .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.client-logo {
    background-color: #fff;
    padding: 0.8rem;
    text-align: center;
    margin: auto;
} 

.client-logo img {
    max-width: 150px;
    margin: auto;
}

/* Responsive Css */

@media (max-width:500px) {
    .video-btn {
        left: 42%;
    }

    .product-slider-img {
        width: 95%;
    }

    .product-slider-content {
        padding: 0;
    }
}

/* Testimonial Section */

.testimonial-wrap {
    position: relative;
    background-color: #16323D;
}

.testimonial-wrap .heading {
    margin-top: 70px;
}

.testimonial-bg {
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 768px) {
    .product-swiper {
        min-height: 500px;
        height: 75% !important;
        margin: 180px auto;
    }

    .product-slider-content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
    }
}

@media only screen and (max-width:992px) {

    .sliding-animation .section-heading h2,
    .sliding-animation .section-heading p {
        transform: translateX(0px) !important;
        opacity: 1 !important;
    }

    .heading {
        font: 700 2em/1 "Oswald", sans-serif;
        margin-top: 60px;
        line-height: 1.6;
    }

    .btn-theme {
        width: 100%;
        letter-spacing: 1px;
    }

    .home-about-wrap .layer p, .home-client-wrap .layer p, .home-product-wrap .layer p {
        width: 100%;
        line-height: 28px;
    }

    .client-logo img {
        max-width: 120px;
        margin: auto;
    }
    
    .home-about-wrap {
        height: 42rem;
    }

    .home-product-section {
        height: 100%;
    }

    .product-swiper {
        width: 100%;
        min-height: auto;
        margin: 125px auto;
        max-width: 680px;
        height: 68%;
    }

    .product-swiper .swiper-slide {
        flex-direction: column;
    }

    .product-slider-img {
        height: 200px;
        transform: translateY(-50%);
        width: 90%;
    }

    .product-slider-content {
        margin-top: -50px;
        padding-left: 50px;
    }

    .product-slider-title {
        font-size: 22px;
        line-height: 1.3;
    }

    .testimonial-div p {
        font-size: 1.1rem;
    }

}

@media (max-width: 1200px ){
    .hero-section-wrap {
        height: 824px;
    }

}

@media(min-width: 1200px) {
    .product-swiper .swiper-pagination-bullets {
        right: 20px;
        bottom: auto !important;
        left: auto !important;
    }
}