.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.navbar-nav a {
    position: relative;
}

.navLink {
    font-size: 1rem;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
}

.navLink::after {
    content: "";
    position: absolute;
    background-color: #fff;
    transition: all .3s;
    width: 0px;
    height: 2px;
    display: block;
}

.navLink:hover {
    color: #fff;
}

.activeNavLink::after {
    width: calc(100% - 3rem);
}

.navbar-scroll-color {
    background: #000;
    transition: all .5s;
}

.navbar-collapse {
    transition: all .5s;
}

@media (max-width:992px) {
    .navDiv {
        background: #000;
    }

    .navbar-dark .navbar-toggler {
        color: rgba(255,255,255,.5);
        border-color: #fff;
    }

    .activeNavLink::after {
        width: 5rem;
    }    
}