.contact-list-wrap table {
    margin-top: 30px;
}

.contact-list-wrap table td textarea {
    outline: 0 !important;
    border: 0 !important;
}

.table-hover tbody tr:hover textarea {
    background-color: transparent !important;
}

@media (max-width:768px) {

}